{% extends 'base.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/thens/Downloads/backup/code/github/ola_nordmann2/src/Controller/MainController.php'|file_link(0) }}">src/Controller/MainController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/thens/Downloads/backup/code/github/ola_nordmann2/templates/main/index.html.twig'|file_link(0) }}">templates/main/second.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
