.ola-col {
 min-height: 300px;
}

.list-group-item {
   background-color: #ffffff22;
   color: #fff;
}

#ola-graph {
 background-color: #ffffff22;
}

#savings-feedback {
   color: #90ee90;
   font-style: italic;
}

body {
   color: #fff;
   background-color: #6699cc;
}
